# &#x1F4D1; &nbsp; <span style="color:#338DD4">  P0: Titanic Survival Exploration </span>

### 1. References
#### Datasets:
In 1912, the ship RMS Titanic struck an iceberg on its maiden voyage and sank, resulting in the deaths of most of its passengers and crew. In this project, we will explore a subset of the RMS Titanic passenger manifest to determine which features best predict whether someone survived or did not survive. 

The data contains demographics and voyage information from 891 of the 2224 passengers and crew on board the ship.

This link allows to see the description of this dataset on the Kaggle website, where the data was obtained. https://www.kaggle.com/c/titanic/data

#### Resources :
Intro to Data Science. Udacity: https://www.udacity.com/course/intro-to-data-science--ud359

Statistics in Python. Scipy Lecture Notes: http://www.scipy-lectures.org/packages/statistics/index.html

A Visual Introduction to Machine Learning: http://www.r2d3.us/visual-intro-to-machine-learning-part-1/

### 2. Selection of Tools

In [1]:
import scipy
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

### 3. Analyzing of the data
#### 3.1 Dataset
#### Let's extract the data from the .csv file, create a  pandas DataFrame and look at the available indicators:
- Survived: Outcome of survival (0 = No; 1 = Yes)
- Pclass: Socio-economic class (1 = Upper class; 2 = Middle class; 3 = Lower class)
- Name: Name of passenger
- Sex: Sex of the passenger
- Age: Age of the passenger (Some entries contain NaN)
- SibSp: Number of siblings and spouses of the passenger aboard
- Parch: Number of parents and children of the passenger aboard
- Ticket: Ticket number of the passenger
- Fare: Fare paid by the passenger
- Cabin Cabin number of the passenger (Some entries contain NaN)
- Embarked: Port of embarkation of the passenger (C = Cherbourg; Q = Queenstown; S = Southampton)

In [3]:
# Load the dataset
titanic_df = pd.read_csv('titanic_data.csv')
# Print the first three entries 
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [7]:
titanic_df.sum()

PassengerId    397386.0000
Survived          342.0000
Pclass           2057.0000
Age             21205.1700
SibSp             466.0000
Parch             340.0000
Fare            28693.9493
dtype: float64

#### 3.2 Survived

#### 3.3 Accuracy score

### 4. Predictions

#### Question 1
Using the RMS Titanic data, how accurate would a prediction be that none of the passengers survived?

#### Question 2
How accurate would a prediction be that all female passengers survived and the remaining passengers did not survive?

#### Question 3
How accurate would a prediction be that all female passengers and all male passengers younger than 10 survived?

#### Question 4
Describe the steps you took to implement the final prediction model so that it got an accuracy of at least 80%. What features did you look at? Were certain features more informative than others? Which conditions did you use to split the survival outcomes in the data? How accurate are your predictions?

#### Question 5
Think of a real-world scenario where supervised learning could be applied. What would be the outcome variable that you are trying to predict? Name two features about the data used in this scenario that might be helpful for making the predictions.

### 5. Ð¡onclusion